Repository RCLC2/pkm-backend, pull requests merged in 2025-09, with the labels that each got.

#2 Build,Feat: init note domain and essential crud
  .gitignore
  note/.gitattributes
  note/.gitignore
  note/build.gradle
  note/gradle/wrapper/gradle-wrapper.jar
  note/gradle/wrapper/gradle-wrapper.properties
  note/gradlew
  note/gradlew.bat
  note/settings.gradle
  note/src/main/java/com/ns/note/NoteApplication.java
  note/src/main/java/com/ns/note/exception/CustomExceptionStatus.java
  note/src/main/java/com/ns/note/exception/DtoException.java
  note/src/main/java/com/ns/note/exception/ExceptionStatus.java
  note/src/main/java/com/ns/note/exception/GlobalExceptionHandler.java
  note/src/main/java/com/ns/note/exception/RepositoryException.java
  note/src/main/java/com/ns/note/exception/ServiceException.java
  note/src/main/java/com/ns/note/exception/VoException.java
  note/src/main/java/com/ns/note/note/controller/NoteController.java
  note/src/main/java/com/ns/note/note/dto/request/NoteCreateRequestDto.java
  note/src/main/java/com/ns/note/note/dto/request/NoteUpdateRequestDto.java
  note/src/main/java/com/ns/note/note/dto/response/NoteResponseDto.java
  note/src/main/java/com/ns/note/note/entity/NoteEntity.java
  note/src/main/java/com/ns/note/note/repository/NoteRepository.java
  note/src/main/java/com/ns/note/note/service/NoteService.java
  note/src/main/java/com/ns/note/note/vo/NoteRequestVo.java
  note/src/main/java/com/ns/note/note/vo/NoteResponseVo.java
  note/src/main/java/com/ns/note/response/GlobalResponseHandler.java
  note/src/main/java/com/ns/note/response/ResponseStatus.java
  note/src/main/resources/application.yml
  note/src/test/java/com/ns/note/NoteApplicationTests.java
  note/src/test/java/com/ns/note/note/entity/NoteEntityTest.java
  note/src/test/java/com/ns/note/note/service/NoteServiceTest.java
Labels: build, feat

#5 Feat(user): User Domain Project Building
  user/.gitattributes
  user/.gitignore
  user/build.gradle
  user/gradle/wrapper/gradle-wrapper.jar
  user/gradle/wrapper/gradle-wrapper.properties
  user/gradlew
  user/gradlew.bat
  user/settings.gradle
  user/src/main/java/com/ns/user/UserApplication.java
  user/src/main/java/com/ns/user/configs/SecurityConfig.java
  user/src/main/java/com/ns/user/exception/CustomExceptionStatus.java
  user/src/main/java/com/ns/user/exception/DtoException.java
  user/src/main/java/com/ns/user/exception/ExceptionStatus.java
  user/src/main/java/com/ns/user/exception/GlobalExceptionHandler.java
  user/src/main/java/com/ns/user/exception/RepositoryException.java
  user/src/main/java/com/ns/user/exception/ServiceException.java
  user/src/main/java/com/ns/user/exception/VoException.java
  user/src/main/java/com/ns/user/response/GlobalResponseHandler.java
  user/src/main/java/com/ns/user/response/ResponseStatus.java
  user/src/main/java/com/ns/user/user/entity/UserEntity.java
  user/src/main/resources/application.yml
  user/src/test/java/com/ns/user/UserApplicationTests.java
Labels: build, feat

#9 Chore: user service sercret set
  .github/workflows/user-ci.yml
Labels: bug, chore

#6 Feat(auth): Goggle SSO authentication Logic
  user/.gitignore
  user/build.gradle
  user/src/main/java/com/ns/user/configs/SecurityConfig.java
  user/src/main/java/com/ns/user/exception/AuthException.java
  user/src/main/java/com/ns/user/exception/ExceptionStatus.java
  user/src/main/java/com/ns/user/jwt/CurrentUser.java
  user/src/main/java/com/ns/user/jwt/JwtAuthenticationFilter.java
  user/src/main/java/com/ns/user/jwt/JwtTokenProvider.java
  user/src/main/java/com/ns/user/oauth/GoogleIdTokenVerifier.java
  user/src/main/java/com/ns/user/oauth/GoogleOAuthClient.java
  user/src/main/java/com/ns/user/user/controller/AuthController.java
  user/src/main/java/com/ns/user/user/dto/request/GoogleLoginRequestDto.java
  user/src/main/java/com/ns/user/user/dto/request/RefreshTokenRequestDto.java
  user/src/main/java/com/ns/user/user/dto/response/AuthResponseDto.java
  user/src/main/java/com/ns/user/user/entity/UserEntity.java
  user/src/main/java/com/ns/user/user/repository/UserRepository.java
  user/src/main/java/com/ns/user/user/service/UserService.java
  user/src/main/java/com/ns/user/user/vo/AuthVo.java
  user/src/main/java/com/ns/user/user/vo/GoogleLoginVo.java
  user/src/main/java/com/ns/user/user/vo/RefreshTokenVo.java
  user/src/test/java/com/ns/user/user/UserServiceTest.java
Labels: build, feat, test

#10 Feat(topic): 문서간 빈도에 따른 태그 추출 및 유사도 구현
  .gitattributes
  topic/Dockerfile
  topic/README.md
  topic/docker-compose.yaml
  topic/docs/docs.go
  topic/docs/swagger.json
  topic/docs/swagger.yaml
  topic/esclient/Dockerfile
  topic/esclient/esclient.go
  topic/go.mod
  topic/go.sum
  topic/handlers/handlers.go
  topic/main.go
  topic/server/server.go
  topic/utils/utils.go
Labels: feat
